{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="text-center">FPL Draft Insights</h1>
    <form class="text-center" action="{{ url_for('chart') }}" method="post" validate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.league_id.label }}<br>
            {{ form.league_id(size=32) }}<br>
            {% for error in form.league_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class="btn btn-custom") }}</p>
    </form>
    <div>
        <h3>How to find your FPL Draft League ID for the 25/26 season?</h1>
        <p>
        <h5>Step 1:</h5>Login to FPL Draft in your browser on your computer and go to your 'League' tab <a
            href="https://draft.premierleague.com" target="_blank">https://draft.premierleague.com</a>
        <br><br>
        <h5>Step 2:</h5>Right click on a blank part of the page and click 'Inspect Element' and go to the 'Network' tab
        <br><br>
        <h5>Step 3:</h5>In the upper left of the Network tab there is a filter that can default to 'All', change this to 'XHR/Fetch'
        <br><br>
        <h5>Step 4:</h5>Near this filter there is a search/filter box, type in 'details' and click on the result and you should
        see some text with your league details in it.
        <br><br>
        <h5>Step 5:</h5>Towards the top of this JSON you will see an 'id' value, this is your league id. It should be
        just below where it says draft_tz_show.

        </p>
    </div>
</div>
{% endblock %}